<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Orders</title>
    <link href="/assets/css/modal_style.css" rel="stylesheet">
</head>

<body>

<!-- Main Content -->
<div class="content">

    <div th:insert="~{header :: header}"></div>

    <div class="store-data">
        <h2>My Orders</h2>
        <div sec:authorize="hasRole('ROLE_CUSTOMER')">
            <div th:each="order : ${customerOrders}">
                <p th:text="${order.orderId}"></p>
                <p th:text="${order.orderStatus}"></p>
                <p th:text="${order.order_items}"></p>
                <p th:text="${order.orderTotal}"></p>
            </div>
        </div>

        <table sec:authorize="hasRole('ROLE_ADMIN')">
            <thead>
            <tr>
                <th>Order Number</th>
                <th>Order Status</th>
                <th>Menu Items</th>
                <th>Order Total</th>
                <th>Cancel Order</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${customerOrderList}">
                <td>
                    <a th:text="${order.orderId}">
                    </a>
                </td>
                <td>
                    <a th:text="${order.orderStatus}">
                    </a>
                </td>
                <td>
                    <a th:text="${order.orderItems}"></a>
                </td>

                <td th:text="${order.getOrderTotal()}"></td>
                <td>
                    <a th:href="@{/in/cancel-order/{orderId}(orderId = ${order.orderId})}">Cancel</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div sec:authorize="hasRole('ROLE_CUSTOMER')" class="pagination">
            <a href="#">&laquo;</a>
            <a th:if="${currentPage > 1}"
               th:href="@{'/in/orders/' + ${currentPage - 1}+'?sortField=' + ${sortField}}"
               class="active">
            </a>
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}"
                   th:href="@{/in/orders/{pageNum}(pageNum=${i}, sortField=${sortField})}">[[${i}]]</a>
                <a class="active" th:unless="${currentPage != i}">[[${i}]]</a>
            </span>
            <a href="#">&raquo;</a>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')" class="pagination">
            <a href="#">&laquo;</a>
            <a th:if="${currentPage > 1}"
               th:href="@{'/foodaways-admin/stores/' + ${currentPage - 1}+'?sortField=' + ${sortField}}"
               class="active">
            </a>
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}"
                   th:href="@{/foodaways-admin/stores/{pageNum}(pageNum=${i}, sortField=${sortField})}">[[${i}]]</a>
                <a class="active" th:unless="${currentPage != i}">[[${i}]]</a>
            </span>
            <a href="#">&raquo;</a>
        </div>

    </div>
</div>

<script src="/assets/js/none.js"></script>
</body>
</html>
