<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
    <div th:insert="~{header :: header}"></div>

    <main>
        <div id="cartItems"></div>
        <div class="cart-footer">
            <p id="totalPrice">Cart Total : </p>
            <button class="custom-btn" id="placeOrderButton"> Place Order</button>
        </div>
    </main>

    <div th:insert="~{footer :: footer}"></div>
    <script>
        window.onload = updateCartDisplay;
    </script>
</body>
</html>