<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>
    <div th:fragment="footer">
        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-white mb-4 me-5">Foodaways Kitchen</h4>
                    </div>
                </div><!-- row ending -->
            </div><!-- container ending -->
        </footer>

    <!-- JAVASCRIPT FILES -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/custom.js"></script>
        <script src="/assets/js/customer_order.js"></script>
    </div>
</body>
</html>