<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <body>
    <div th:insert="~{header :: header}"></div>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5 col-12 m-auto">
                            <div class="heroText">

                                <h1 class="text-white mb-lg-5 mb-3">African Cuisines</h1>

                            </div>
                        </div>

                        <div class="col-lg-7 col-12">
                            <div id="carouselExampleCaptions" class="carousel carousel-fade hero-carousel slide"
                                 data-bs-ride="carousel">
                                <div class="carousel-inner">

                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="video-wrap">
                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                        <source src="video/production_ID_3769033.mp4" type="video/mp4">
                        	Your browser does not support the video tag.
                    	</video>
                </div>
            <div class="overlay"></div>
            </section>

            <!--Breakfast Section-->
            <section class="menu section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-center mb-lg-5 mb-4">Breakfast Menu</h2>
                        </div>

                            <div class="col-lg-4 col-md-6 col-12" th:each="bf : ${breakfastList}">
                                <div class="menu-thumb">
                                    <a th:href="@{/foodaways/product-view/{id}(id = ${bf.productId})}">
                                        <div class="menu-image-wrap">
                                            <img th:src="@{'/assets/images/' + ${bf.imageOfProduct}}"
                                                 class="img-fluid menu-image" alt="">

                                            <span class="menu-tag bg-warning" th:text="${bf.productCategory}"></span>
                                            <a class="add-to-cart">Add To Cart</a>
                                            <id th:text="${bf.productId}" style="display : none"></id>
                                            <storeId th:text="${bf.storeId}" style="display : none"></storeId>
                                        </div>
                                    </a>

                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                        <div class="menu-info d-flex flex-wrap align-items-center">
                                            <h4 class="mb-0" th:text="${bf.productName}"></h4>
                                            <p th:text="${bf.menuItems}"></p>
                                            <span class="price-tag bg-white shadow-lg ms-4"
                                                  th:text="${bf.productPrice}"><small>R</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </section>

            <!-- Lunch -->
            <section class="menu section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-center mb-lg-5 mb-4">Lunch Menu</h2>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12" th:each="lunch : ${lunchList}">
                            <div class="menu-thumb">
                                <a th:href="@{/foodaways/product-view/{id}(id = ${lunch.productId})}">
                                    <div class="menu-image-wrap">
                                        <img th:src="@{'/assets/images/' + ${lunch.imageOfProduct}}"
                                             class="img-fluid menu-image" alt="">

                                        <span class="menu-tag bg-warning" th:text="${lunch.productCategory}"></span>
                                        <a class="add-to-cart">Add To Cart</a>
                                        <id th:text="${lunch.productId}" style="display : none"></id>
                                        <storeId th:text="${lunch.storeId}" style="display : none"></storeId>
                                    </div>
                                </a>

                                <div class="menu-info d-flex flex-wrap align-items-center">
                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                        <h4 class="mb-0" th:text="${lunch.productName}"></h4>
                                        <p th:text="${lunch.menuItems}"></p>
                                        <span class="price-tag bg-white shadow-lg ms-4"
                                              th:text="${lunch.productPrice}"><small>R</small>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!--Dinner Section-->
            <section class="menu section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-center mb-lg-5 mb-4">Dinner Menu</h2>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12" th:each="d : ${dinnerList}">
                            <div class="menu-thumb">
                                <a th:href="@{/foodaways/product-view/{id}(id = ${d.productId})}">
                                    <div class="menu-image-wrap">
                                        <img th:src="@{'/assets/images/' + ${d.imageOfProduct}}"
                                             class="img-fluid menu-image" alt="">

                                        <span class="menu-tag bg-warning" th:text="${d.productCategory}"></span>
                                        <a class="add-to-cart">Add To Cart</a>
                                        <id th:text="${d.productId}" style="display : none"></id>
                                        <storeId th:text="${d.storeId}" style="display : none"></storeId>
                                    </div>
                                </a>

                                <div class="menu-info d-flex flex-wrap align-items-center">
                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                        <h4 class="mb-0" th:text="${d.productName}"></h4>
                                        <p th:text="${d.menuItems}"></p>
                                        <span class="price-tag bg-white shadow-lg ms-4"
                                              th:text="${d.productPrice}"><small>R</small>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="BgImage"></section>
        </main>

    <div th:insert="~{footer :: footer}"></div>
    <script src="/assets/js/carousel.js"></script>
    </body>
</html>
