<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <body>
    <div th:insert="~{header :: header}"></div>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5 col-12 m-auto">
                            <div class="heroText">

                                <h1 class="text-white mb-lg-5 mb-3">African Cuisines</h1>

                            </div>
                        </div>

                        <div class="col-lg-7 col-12">
                            <div id="carouselExampleCaptions" class="carousel carousel-fade hero-carousel slide"
                                 data-bs-ride="carousel">
                                <div class="carousel-inner">

                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="video-wrap">
                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                        <source src="video/production_ID_3769033.mp4" type="video/mp4">
                        	Your browser does not support the video tag.
                    	</video>
                </div>
            <div class="overlay"></div>
            </section>

            <!--Breakfast Section-->
            <section class="menu section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-center mb-lg-5 mb-4">Breakfast Menu</h2>
                        </div>

                            <div class="col-lg-4 col-md-6 col-12" th:each="product : ${breakfastList}">
                                <div th:insert="~{side_bar :: products_loop}"></div>
                            </div>

                    </div>
                </div>
            </section>

            <!-- Lunch -->
            <section class="menu section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-center mb-lg-5 mb-4">Lunch Menu</h2>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12" th:each="product : ${lunchList}">
                            <div th:insert="~{side_bar :: products_loop}"></div>
                        </div>

                    </div>
                </div>
            </section>

            <!--Dinner Section-->
            <section class="menu section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-center mb-lg-5 mb-4">Dinner Menu</h2>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12" th:each="product : ${dinnerList}">
                            <div th:insert="~{side_bar :: products_loop}"></div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="BgImage"></section>
        </main>

    <div th:insert="~{footer :: footer}"></div>
    <script src="/assets/js/carousel.js"></script>
    </body>
</html>
