<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:insert="~{header :: header}"></div>
    <body>
        <main>
            <header class="site-header site-menu-header">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 mx-auto">
                            <h1 class="text-white">Our Menus</h1>
                            <strong class="text-white">Perfect for all Breakfast, Lunch and Dinner</strong>
                        </div>

                    </div>
                </div>

                <div class="overlay"></div>
            </header>

            <section class="menu section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-lg-5 mb-4">Breakfast Menu</h2>
                        </div>

                            <div class="col-lg-4 col-md-6 col-12" th:each="product : ${products}">
                                <div class="menu-thumb">
                                    <a th:href="@{/product-view/{id}(id = ${product.productId})}">
                                        <div class="menu-image-wrap">
                                            <img th:src="@{'/assets/images/' + ${product.imageOfProduct}}"
                                                    class="img-fluid menu-image" alt="">

                                            <span class="menu-tag bg-warning">Lunch</span>
                                            <a class="add-to-cart" onclick="addToCart(this)">Add To Cart</a>
                                        </div>
                                    </a>

                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                        <h4 class="mb-0" th:text="${product.productName}"></h4>
                                        <p th:text="product.menuItems"></p>
                                        <span class="price-tag bg-white shadow-lg ms-4"
                                              th:text="${product.productPrice}"><small>R</small></span>

                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </section>

            <section class="menu section-padding bg-white">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-lg-5 mb-4">Lunch Menu</h2>
                        </div>

                            <div class="col-lg-4 col-md-6 col-12" th:each="lunch : ${lunchProducts}">
                                <div class="menu-thumb">
                                    <a th:href="@{/product-view/{id}(id = ${lunch.productId})}">
                                        <div class="menu-image-wrap">
                                            <img th:src="@{'assets/images/' + ${lunch.imageOfProduct}}"
                                                 class="img-fluid menu-image" alt="">

                                            <span class="menu-tag bg-warning">Lunch</span>
                                            <a class="add-to-cart" onclick="addToCart(this)">Add To Cart</a>
                                        </div>
                                    </a>

                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                        <h4 class="mb-0" th:text="${lunch.productName}"></h4>
                                        <p th:text="${lunch.menuItems}"></p>
                                        <span class="price-tag bg-white shadow-lg ms-4"
                                              th:text="${lunch.productPrice}"><small>R</small></span>

                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </section>

            <section class="menu section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-lg-5 mb-4">Dinner Menu</h2>

                                <div class="col-lg-4 col-md-6 col-12" th:each="dinner : ${dinnerProducts}">
                                    <div class="menu-thumb">
                                        <a th:href="@{/product-view/{id}(id = ${dinner.productId})}">
                                            <div class="menu-image-wrap">
                                                <img th:src="@{${dinner.productImagePath}}"
                                                     class="img-fluid menu-image" alt="">

                                                <span class="menu-tag bg-warning">Lunch</span>
                                                <a class="add-to-cart" onclick="addToCart(this)">Add To Cart</a>
                                            </div>
                                        </a>

                                        <div class="menu-info d-flex flex-wrap align-items-center">
                                            <h4 class="mb-0" th:text="${dinner.productName}"></h4>
                                            <p th:text="${dinner.menuItems}"></p>
                                            <span class="price-tag bg-white shadow-lg ms-4"
                                                  th:text="${dinner.productPrice}"><small>R</small></span>

                                        </div>
                                    </div>
                                </div>

                        </div>

                    </div>
                </div>
            </section>

        </main>

        <div th:insert="~{footer :: footer}"></div>

    </body>
</html>
