<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="sidebar" class="sidebar">
        <a href="#" th:href="@{/store-manager/orders}">Orders</a>
        <a href="#" th:href="@{/store-manager/products}">Products</a>
        <a href="#" th:href="@{/store-manager/completed-orders}">Completed</a>
        <a href="#" th:href="@{/store-manager/delivered-orders}">Delivered</a>
        <a href="#" th:href="@{/store-manager/sales-details}">Sales Details</a>
        <button class="btn" onclick="openModal()">Add New Product</button>
        <button class="btn-primary primary" style="border-radius: 4px">
            <a th:href="@{/logout}">
                Log Out
            </a>
        </button>
    </div>
</body>
</html>