<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="sidebar" class="sidebar">
        <button class="btn-primary primary">
            <a th:href="@{/store-manager/orders/1?sortField=order_id}">Orders</a>
        </button>
        <button class="btn-primary primary">
            <a th:href="@{/store-manager/products/1?sortField=product_name}">Products</a>
        </button>
        <button class="btn-primary primary">
            <a th:href="@{/store-manager/completed-orders/1?sortField=order_id}">Completed</a>
        </button>
        <button class="btn-primary primary">
            <a th:href="@{/store-manager/delivered-orders/1?sortField=order_id}">Delivered</a>
        </button>
        <button class="btn-primary primary">
            <a th:href="@{/store-manager/sales-details/1?sortField=order_id}">Sales Details</a>
        </button>
        <button class="btn-primary primary" onclick="openModal()">
            <a>Add Product</a>
        </button>
        <button class="btn-primary primary" id="logout" style="border-radius: 4px">
            <a th:href="@{/logout}">
                Log Out
            </a>
        </button>
    </div>

    <div th:fragment="global_admin_sidebar" class="sidebar">
        <button class="btn-primary primary">
            <a th:href="@{/foodaways-admin/stores/1?sortField=storeName}">Stores</a>
        </button>
        <button class="btn-primary primary">
            <a th:href="@{/foodaways-admin/users/1?sortField=userId}">Users</a>
        </button>
        <button class="btn-primary primary" onclick="openModal()">
            <a th:href="@{/foodaways-admin/add-store/}">Add Store</a>
        </button>
        <button class="btn-primary primary" id="admin-logout" style="border-radius: 4px">
            <a th:href="@{/logout}">
                Log Out
            </a>
        </button>
    </div>

    <div th:fragment="productModal" id="productModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Update Product</h2>
            <form th:action="@{/store-manager/add-new-product}" th:method="POST"
                  enctype="multipart/form-data" th:object="${newProduct}">
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input th:field="*{productName}" type="text" id="productName" name="productName" required>
                </div>
                <div class="form-group">
                    <label for="menuItems">Menu Items</label>
                    <input th:field="*{menuItems}" type="text" id="menuItems" name="menuItems" rows="6" required>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input th:field="*{productPrice}" type="number" id="price" name="price" step="0.01" required>
                </div>
                <div>
                    <label for="dropdown">Choose Product Category:</label>
                    <select id="dropdown" name="selectedOption" th:field="*{productCategory}">
                        <option value="" disabled selected>Select an option</option>
                        <option th:each="option : ${productCategories}"
                                th:value="${option}"
                                th:text="${option}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Product Image</label>
                    <input th:field="*{productImage}" type="file" id="image" name="image" accept="image/*">
                </div>
                <button type="submit" class="btn">Add Product</button>
            </form>
        </div>
    </div>

    <div th:fragment="products_loop" class="menu-thumb">
            <a th:href="@{/foodaways/product-view/{id}(id = ${product.productId})}">
                <div class="menu-image-wrap">
                    <img th:src="@{'/assets/images/' + ${product.imageOfProduct}}"
                         class="img-fluid menu-image" alt="">
                    <span class="menu-tag bg-warning" th:text="${product.productCategory}"></span>
                    <a class="add-to-cart">Add To Cart</a>
                    <id th:text="${product.productId}" style="display : none"></id>
                    <storeId th:text="${product.storeId}" style="display : none"></storeId>
                </div>
            </a>

            <div class="menu-info d-flex flex-wrap align-items-center">
                <h4 class="mb-0" th:text="${product.productName}"></h4>
                <p th:text="product.menuItems"></p>
                <span class="price-tag bg-white shadow-lg ms-4"
                      th:text="${product.productPrice}"><small>R</small>
                </span>
            </div>
    </div>

    <div th:fragment="store_edit_modal" id="storeEditModal" class="modal">

    </div>

    <div th:fragment="" id="" class="modal">

    </div>
</body>
</html>