<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="sidebar" class="sidebar">
        <a href="#" th:href="@{/store-manager/orders}">Orders</a>
        <a href="#" th:href="@{/store-manager/products}">Products</a>
        <a href="#" th:href="@{/store-manager/completed-orders}">Completed</a>
        <a href="#" th:href="@{/store-manager/delivered-orders}">Delivered</a>
        <a href="#" th:href="@{/store-manager/sales-details}">Sales Details</a>
        <button class="btn" onclick="openModal()">Add New Product</button>
        <button class="btn-primary primary" style="border-radius: 4px">
            <a th:href="@{/logout}">
                Log Out
            </a>
        </button>
    </div>

    <!-- Modal for adding new product-->
    <div th:fragment="product_modal" id="productModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Add New Product</h2>
            <form th:action="@{/store-manager/add-new-product}" th:method="post" enctype="multipart/form-data" th:object="${newProduct}">
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input th:field="*{productName}" type="text" id="productName" name="productName" required>
                </div>
                <div class="form-group">
                    <label for="menuItems">Menu Items</label>
                    <input th:field="*{menuItems}" type="text" id="menuItems" name="menuItems" rows="6" required>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input th:field="*{productPrice}" type="number" id="price" name="price" step="0.01" required>
                </div>
                <div>
                    <label for="dropdown">Choose Product Category:</label>
                    <select id="dropdown" name="selectedOption" th:field="*{productCategory}">
                        <option value="" disabled selected>Select an option</option>
                        <option th:each="option : ${productCategories}"
                                th:value="${option}"
                                th:text="${option}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Product Image</label>
                    <input th:field="*{productImage}" type="file" id="image" name="image" accept="image/*">
                    <!--                <input type="file" id="image" name="image" accept="image/*">-->
                </div>
                <button type="submit" class="btn">Add Product</button>
            </form>
        </div>
    </div>

</body>
</html>