<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/modal_style.css" rel="stylesheet">
</head>

<body>

<div th:insert="~{side_bar :: sidebar}"></div>

<!-- Main Content -->
<div class="content">
    <div class="header">Our Store Data</div>

    <div class="store-data">
        <h2>Store Products</h2>
        <table>
            <thead>
            <tr>
                <th>Edit</th>
                <th>Product Image</th>
                <th>Menu Items</th>
                <th>Price</th>
                <th>Delete Product</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td>
                        <a th:href="@{/store-manager/product-edit-page/{productId}(productId = ${product.productId})}">
                            Edit Product
                        </a>
                    </td>
                    <td>
                        <div class="product-image-display">
                            <img th:src="@{'/assets/images/' + ${product.imageOfProduct}}" class="img-fluid menu-image" alt="">
                        </div>
                    </td>
                    <td th:text="${product.menuItems}">Menu Items</td>
                    <td th:text="${product.productPrice}">Price</td>
                    <td>
                        <a th:href="@{/store-manager/delete-product/{productId}(productId = ${product.productId})}">Delete (X)</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for adding new product-->
<div th:insert="~{side_bar :: product_modal}"></div>

<script src="/assets/js/store_controller.js"></script>
</body>
</html>
